@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color: #FFFFFF;
  color: #000000;
}

.container {
  max-width: 1280px;
  padding: 0 16px;
  margin: 0 auto;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

header {
  height: 98px;
  background-color: #06071B;
}

.header-nav {
  background: linear-gradient(90.03deg, rgba(0, 197, 235, 0.3) -1.97%, rgba(181, 68, 254, 0.3) 89.43%);
  -webkit-backdrop-filter: blur(17.5px);
          backdrop-filter: blur(17.5px);
  margin-top: 26px;
  height: 72px;
  transform: translateY(26px);
}

@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
  }
}
.logo {
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.21;
  color: #FFFFFF;
}

.list-header {
  display: flex;
  gap: 40px;
}

.item-header {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: #FFFFFF;
}

.mobile-menu {
  margin-top: 10px;
  margin-bottom: 20px;
  border: none;
  background-color: white;
  right: 0;
  display: flex;
  justify-content: center;
  margin-right: 10px;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.hero {
  background-color: #06071B;
  padding: 146px 0;
}

.hero-container {
  position: relative;
}

.hero-container::before {
  position: absolute;
  top: 70px;
  left: 120px;
  content: "";
  display: inline-block;
  width: 213px;
  height: 29px;
  background: linear-gradient(0deg, rgba(0, 197, 235, 0.5), rgba(0, 197, 235, 0.5)), #D9D9D9;
  filter: blur(51.5px);
  border-radius: 50%;
}

.hero__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  color: #FFFFFF;
  margin-bottom: 12px;
}

.hero__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  color: #FFFFFF;
  margin-bottom: 28px;
}

.hero__item {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  color: #FFFFFF;
}

.hero__item::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url(/src/images/list-item.svg);
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
}

.hero__list {
  margin-bottom: 60px;
}

.hero__item:not(:last-child) {
  margin-bottom: 12px;
}

.hero__image {
  position: absolute;
  right: 0;
  top: -35%;
}

.main-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.19;
  color: #FFFFFF;
  border: transparent;
  border-radius: 5px;
  background: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
  max-width: 200px;
  height: 42px;
  padding: 11px 60px;
  cursor: pointer;
}
.main-button:hover, .main-button:focus {
  background: rgb(6, 7, 27);
  border: 1px solid;
}

.feature {
  position: relative;
  overflow: hidden;
}

.container-feature {
  padding-top: 100px;
  padding-bottom: 105px;
}

.section-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 80px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.21;
}

.feature-text-box {
  max-width: 886px;
  margin-left: auto;
  margin-right: auto;
}

.feature-text {
  text-align: center;
  margin-bottom: 80px;
  font-size: 16px;
  line-height: 1.5;
  margin-top: 0;
}
.feature-text::after {
  content: "";
  background-image: linear-gradient(#00C5EB 20%, #B544FE 20%);
  filter: blur(110.5px);
  width: 304px;
  height: 203px;
  position: absolute;
  top: 85px;
  right: 0;
  z-index: -1;
}

.feature-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
}
.feature-box::after {
  content: "";
  width: 1044.38px;
  height: 823.76px;
  background-image: linear-gradient(#00C5EB 0%, rgba(61, 153, 241, 0.62) 44.79%, #B544FE 100%);
  position: absolute;
  filter: blur(109.5px);
  transform: rotate(-59.96deg);
  z-index: -1;
  left: -384.7px;
}

.feature-items {
  width: 220px;
  position: relative;
}

.features-items-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  font-style: bold;
  margin: 0;
}

.features-items-title::before {
  content: "";
  background-image: url(../images/feature-icon.svg);
  width: 28px;
  height: 28px;
  position: absolute;
  margin-right: 12px;
  left: -40px;
  top: -4px;
}

.features-items-text {
  font-size: 14px;
  line-height: 1.21;
}

.section-three {
  background-color: #06071B;
  color: #FFFFFF;
  padding: 60px 0;
}

.section-three-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.section-three-text {
  font-size: 16px;
  line-height: 19px;
  width: 479px;
  margin: 0 0 40px;
}

.section-three-conteiner {
  display: flex;
  gap: 161px;
}

.section-three-icon {
  fill: #FFFFFF;
  display: flex;
  width: 60px;
  height: 60px;
  background: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
  border-radius: 50%;
}

.icon-android {
  padding: 12px 15px 13px;
}

.android {
  width: 37px;
  height: 35px;
}

.icon-appleinc {
  padding: 12px 14px;
}

.appleinc {
  width: 32px;
  height: 36px;
}

.section-three-icons {
  display: flex;
  gap: 20px;
}

.section-three-icon:hover {
  fill: #06071B;
  stroke: rgb(181, 68, 254);
  background: #06071B;
  border-color: #B544FE;
  border-width: 1px;
  border-style: solid;
  cursor: pointer;
}

.section-three-img1 {
  position: absolute;
  margin: -270px 104px;
}

.section-three-img2 {
  position: absolute;
  margin: -155px 580px;
  z-index: 0;
}

.section-three-telephone {
  position: absolute;
  z-index: 1;
}

.section-team {
  padding: 80px 0;
}

.section-text {
  line-height: 1.5;
  text-align: center;
  max-width: 886px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}

.team-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 32px;
}

.card {
  background: linear-gradient(313.81deg, rgba(0, 197, 235, 0.5) -7.83%, rgba(181, 68, 254, 0.5) 83.61%), #06071B;
  border-radius: 15px;
  padding: 12px;
}

.card__image {
  border-radius: 15px;
}

.card__meta {
  text-align: center;
  padding-top: 20px;
}

.card__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  color: #FFFFFF;
  margin-bottom: 12px;
}

.card__text {
  font-size: 14px;
  line-height: 1.71;
  color: #FFFFFF;
}

footer {
  background-color: #06071B;
  border-bottom: #B544FE;
}

.footer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .footer {
    justify-content: space-between;
  }
}

.footer__content {
  text-align: center;
  padding-left: 16px;
}

.footer__title {
  padding-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.21;
  color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  .footer__title {
    padding-top: 80px;
    margin-bottom: 80px;
  }
}

.footer__subtitle {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.21;
  color: #FFFFFF;
}

.footer__discr {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.icon__list {
  margin-bottom: 20px;
  display: flex;
  gap: 14px;
}

.icon__item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
  fill: #FFFFFF;
}

.icon__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  fill: inherit;
  outline: 1px solid transparent;
  border-radius: 50%;
}

.icon__link:hover,
.icon__item:hover {
  fill: #06071B;
  stroke: rgb(181, 68, 254);
  background-color: #06071B;
  border-color: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
  border-width: 1px;
  border-style: solid;
}

.address {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
}

.address__link {
  color: #FFFFFF;
}

.forms {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-right: 16px;
}
@media screen and (min-width: 1200px) {
  .forms {
    justify-content: flex-end;
  }
}

.forms::before {
  display: inline-block;
  position: absolute;
  width: 296.56px;
  height: 457.72px;
  left: -100px;
  bottom: -45px;
  background: rgba(125, 85, 255, 0.3);
  filter: blur(51.5px);
  transform: matrix(0.22, 1.02, -0.9, 0.34, 0, 0);
  content: "";
}
@media screen and (min-width: 1200px) {
  .forms::before {
    left: 265px;
    bottom: 50px;
  }
}

.forms::after {
  display: inline-block;
  position: absolute;
  width: 230.6px;
  height: 442.99px;
  left: -100px;
  bottom: -11px;
  background: rgba(0, 197, 235, 0.3);
  filter: blur(51.5px);
  transform: matrix(0.06, 1.03, 0.94, -0.25, 0, 0);
  content: "";
}
@media screen and (min-width: 1200px) {
  .forms::after {
    left: 400px;
    bottom: 80px;
  }
}

.forms__input {
  z-index: 1;
  margin-bottom: 20px;
  height: 40px;
  width: 288px;
  background: #FFFFFF;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 11px 8px 12px 8px;
  outline: none;
}

@media screen and (min-width: 1200px) {
  .forms__input + .forms__input {
    margin-left: 32px;
  }
}

.forms__textarea {
  z-index: 1;
  margin-bottom: 20px;
  height: 162px;
  width: 608px;
  background: #FFFFFF;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 11px 8px 12px 8px;
  outline: none;
}

.button {
  z-index: 1;
  position: relative;
  padding: 11px 59px 12px 59px;
  min-width: 181px;
  height: 42px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.18;
  color: #FFFFFF;
  background: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
  border-radius: 5px;
  border: 1px solid transparent;
  cursor: pointer;
  margin-bottom: 40px;
}
@media screen and (min-width: 1200px) {
  .button {
    margin-bottom: 79px;
  }
}

.button:hover {
  border-radius: 5px;
  background: #06071B;
  -o-border-image: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
     border-image: linear-gradient(90.03deg, #00C5EB -1.97%, #B544FE 89.43%);
  border-image-slice: 1;
}

.copy {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  color: #FFFFFF;
  border-top: 1px solid #FFFFFF;
  padding-top: 22px;
  padding-bottom: 21px;
  padding-left: 16px;
}

.menu-mobile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  transform: translateX(100%);
  background-color: tomato;
  padding: 40px 40px;
}

.menu-mobile.is-open {
  transform: translateX(0);
}

.mobile-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
}

.mobile-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}/*# sourceMappingURL=index.css.map */