<footer>
    
    <div class="container">
          <h2 class="footer__title">CONTACT US</h2>
         
         <div class="footer">
            <div class="footer__content">
               <h3 class="footer__subtitle">Get in touch with us</h3>
               <p class="footer__discr">
                   Nunc urna est, tristique et varius at, pharetra nec enim. Quisque rhoncus lacus fringilla nulla sollicitudin tristique.
               </p>
               <ul class="icon__list">
                   <li class="icon__item"> <a class="icon__link" href="#"> <svg  width="20" height="20">
                       <use href="./images/symbol-defs.svg#icon-facebook"> </use>
                        </svg> </a>
                   </li>
                   <li class="icon__item"> <a class="icon__link" href="#"><svg  width="20" height="20">
                           <use href="./images/symbol-defs.svg#icon-twiter"> </use>
                       </svg> </a>
                   </li>
                   <li class="icon__item"> <a class="icon__link" href="#"> <svg  width="20" height="20">
                           <use href="./images/symbol-defs.svg#icon-linked"> </use>
                       </svg> </a>
                   </li>
               </ul>
               <address>
                 <ul class="address">
                     <li class="address__item"> <a class="address__link" href="tel:+xxxxxxxxxxxx">+xx-xxxx-xxxx-xx</a></li>
                     <li class="address__item"> <a class="address__link" href="mailto:goIteens@gmail.com">goIteens@gmail.com</a></li>
                 </ul>
               </address>
            </div>   
               
                <form class="forms">
                  
                  <input class="forms__input" id="user-name" type="text" name="user-name" placeholder="Name">
                     
                  <input class="forms__input" id="user-email" type="email" name="user-email" placeholder="Email">
           
                  <textarea class="forms__textarea" name="message" id="message" placeholder="Message" ></textarea>
           
                  <button class="button" type="submit">SUBMIT</button>
               </form>
               
           </div>
             <p class="copy">
                 &copy; 2019 GoIteens Template. All Rights Reserved
             </p>
    </div>
</footer>
