<header>
    <div class="header-nav">
        
        <div class="container">
        <div class="header">
            <a href="" class="logo">Mobileapp</a>
            <nav class="nav">
                <ul class="list-header">
                    <li> <a href="" class="item-header">HOME</a></li>
                    <li> <a href="" class="item-header">FEATURES</a></li>
                    <li> <a href="" class="item-header">TEAM</a></li>
                    <li> <a href="" class="item-header">TESTIMONIALS</a></li>
                    <li> <a href="" class="item-header">CONTACT</a></li>
                </ul>
            </nav>
            <button type="button" class="mobile-menu js-open-menu">
            <svg width="24" height="24">
                <use href="./images/sprite.svg#menu_btn"></use>
            </svg>
             </button>
             </div>
        </div>
    </div>
</header>