<div class="menu-mobile js-menu-container">
<a href="" class="logo mobile ">Mobileapp</a>
<button type="button" class="mobile-close js-close-menu">
    <svg class="mobile-icon" width="24" height="24">
        <use href="./images/sprite.svg#close"></use>
    </svg>
</button>

    <ul class="menu-mobile__list">
        <li class="menu-mobile__item"> <a href="" class="menu-mobile__link menu-mobile__link--current">HOME</a></li>
        <li class="menu-mobile__item"> <a href="" class="menu-mobile__link">FEATURES</a></li>
        <li class="menu-mobile__item"> <a href="" class="menu-mobile__link">TEAM</a></li>
        <li class="menu-mobile__item"> <a href="" class="menu-mobile__link">TESTIMONIALS</a></li>
        <li class="menu-mobile__item"> <a href="" class="menu-mobile__link">CONTACT</a></li>
    </ul>

</div>