<section class="section-team">
    <div class="container background-team">
        <h2 class="section-title">OUR TEAM</h2>
        <p class="section-text">Nunc vulputate nibh sed congue facilisis. Curabitur posuere scelerisque neque. In sit amet lectus non lacus sollicitudin
        cursus a vitae felis. Praesent luctus mi quis nisi interdum eleifend.</p>
    
    <ul class="team-list">
        <li class="team-list__item">
            <article class="card">
                <img class="card__image" src="./images/JonDoe.jpg" alt="Employee photo" width="264" height="250">
            <div class="card__meta">
                <h3 class="card__name">Jon Doe</h3>
                <p class="card__text">Managing Direcor</p>
            </div>
            </article>
        </li>

        <li class="team-list__item">
            <article class="card">
                <img class="card__image" src="./images/JaneDoe.jpg" alt="Employee photo" width="264" height="250">
            <div class="card__meta">
                <h3 class="card__name">Jon Doe</h3>
                <p class="card__text">Managing Direcor</p>
            </div>
            </article>
        </li>

        <li class="team-list__item">
            <article class="card">
                <img class="card__image" src="./images/JanDoe.jpg" alt="Employee photo" width="264" height="250">
            <div class="card__meta">
                <h3 class="card__name">Jon Doe</h3>
                <p class="card__text">Managing Direcor</p>
            </div>
            </article>
        </li>

        <li class="team-list__item">
            <article class="card">
                <img class="card__image" src="./images/JonyDoe.jpg" alt="Employee photo" width="264" height="250">
            <div class="card__meta">
                <h3 class="card__name">Jon Doe</h3>
                <p class="card__text">Managing Direcor</p>
            </div>
            </article>
        </li>
    </ul>
    </div>
</section>