<section class="feature">
    <div class="container container-feature">

        <h2 class="section-title">KEY FEATURES</h2>
        <div class="feature-text-box">
            <p class="feature-text">Nunc vulputate nibh sed congue facilisis. Curabitur posuere scelerisque neque. In sit amet lectus non lacus sollicitudin
            cursus a vitae felis. Praesent luctus mi quis nisi interdum eleifend.</p>
        </div>
        
        <div class="feature-box">
            <ul class="feature-list">
                <li class="feature-items">
                    <!-- <img width="28" height="28" src="./images/feature-icon.svg" alt=""> -->
                    <h3 class="features-items-title">Amet varius</h3>
                    <p class="features-items-text">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus
                    diam a iaculis malesuada</p>
                </li>
                <li class="feature-items">
                    <h3 class="features-items-title">Amet varius</h3>
                    <p class="features-items-text">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus
                    diam a iaculis malesuada</p>
                </li>
                <li class="feature-items">
                    <h3 class="features-items-title">Amet varius</h3>
                    <p class="features-items-text">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus
                    diam a iaculis malesuada</p>
                </li>
            </ul>    
                
                <img src="./images/features.png" alt="">

            <ul class="feature-list">  
                <li class="feature-items">
                    <h3 class="features-items-title">Amet varius</h3>
                    <p class="features-items-text">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus
                    diam a iaculis malesuada</p>
                </li>
                <li class="feature-items">
                    <h3 class="features-items-title">Amet varius</h3>
                    <p class="features-items-text">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus
                    diam a iaculis malesuada</p>
                </li>
                <li class="feature-items">
                    <h3 class="features-items-title">Amet varius</h3>
                    <p class="features-items-text">Donec posuere augue venenatis, aliquet ligula ut, tempus quam. Vivamus
                    diam a iaculis malesuada</p>
            </ul>
        </div>
        


    </div>
</section>