<section class="section-customers">
    <div class="container">
        <h2 class="section-title section-customers__section-title">WHAT OUR COSTUMER’S SAY</h2>
        <img class="section-customers__photo" src="./images/Company-owner.jpg" alt="Photo of the founder of the company" width="181" height="181">
        <h3 class="section-customers__subtitle">Jon Doe</h3>
        <p class="section-text">Company Inc.</p>
        <p class="section-text">Vestibulum placerat nisl quis justo venenatis, et lacinia nunc venenatis. semper libero nec sapien condimentum
        dignissim. Nunc ante ligula, tempor in tellus in, gravida vestibulum justo. Nulla facilisi. Nullam tristique eros quis
        nibh tempus, vel viverra dolor pretium. Nam et vehicula leo. Vivamus hendrerit sit amet ante a tempus. Aenean gravida
        massa et ante pulvinar, id</p>
    </div>
</section>