<section class="hero">
    <div class="container hero-container">
    <h1 class="hero__title">Introducing Mobileapp</h1>
    <p class="hero__text">Maecenas vitae tellus sapien. Prasent</p>
    <ul class="hero__list">
        <li class="hero__item">semper scelerisque tristique a enim</li>
        <li class="hero__item">Integer ut mattis nulla, eget vehicula elit</li>
        <li class="hero__item">Prasent rutrum ac nunc et</li>
    </ul>
    <button class="main-button" type="button">Download</button>
    </div>
</section>