<section class="section-three">
    <div class="container">
        <img src="/src/images/Розпилення 2.png" alt="" class="section-three-img2">
        <div class="section-three-conteiner">
            <div class="section-three-content">
                <h2 class="section-three-title">WATCH THE VIDEO</h2>
                <p class="section-three-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla
                    fringilla
                    nisl congue congue. Maecenas
                    nec condimentum libero, at elementum mauris. Phasellus eget nisi dapibus, ultricies nisl at, hendrerit risusuis
                    ornare luctus id sollicitudin ante lobortis at.</p>
                <img src="/src/images/Маленьке розпилення 2.png" alt="" class="section-three-img1">
                <div class="section-three-icons">
                    <div class="icon-appleinc section-three-icon">
                        <svg class="appleinc">
                            <use href="/src/images/symbol-defs.svg#icon-android"></use>
                        </svg>
                    </div>
                    <div class="icon-android section-three-icon">
                        <svg class="android">
                            <use href="/src/images/symbol-defs.svg#icon-appleinc"> </use>
                        </svg>
                    </div>
                </div>
            </div>
            <div>
                <div class="section-three-img">
                    <img src="/src/images/iPhone X Flying Mockup Space Gray.png" alt="telephone" class="section-three-telephone">
                </div>
            </div>
        </div>
    </div>
</section>